/* Created by OkaforHenry using reactjs; 30th June 2022 */

@font-face {
    font-family: 'Avenir';
    src: local("Avenir"), url('../fonts/avenir_ff/AvenirLTStd-Black.otf'), format("opentype");
    font-weight: normal;
    font-display:  swap;
}
:root{
    --primary-color: #068374;
    --primary-gray: #333333;
    --light-gray: #F4F4F4;
}


*, html {
    margin: 0;
    padding: 0;
}
body {
    
    font-family: 'Avenir !important';
}